extends layout

block content
  #about

    .photo.pablo
      mixin image('pablo')
      .shape
      .who D.G Pablo Cordero Quintana

    .photo.nadia
      mixin image('Nadia')
      .shape
      .who D.G Nadia Presberg

    .text
      p
        | Somos dos jóvenes diseñadores gráficos que buscamos la innovación. Queremos que seas
        | parte del diseño, que inunde tu rutina, que lo uses de forma inteligente y que cambie, aunque
        | sea un poco, tu vida…Alegrando tus espacios, provocando un mayor orden.
      
      p
        | Te invitamos a descubrir una forma inteligente de decorar tus espacios, dándoles un toque
        | de “funcionalidad” además de embellecerlos.

      h2 COMO USAR
      ol
        li Presentá el diseño para decidir la ubicación y sujetalo con cinta de papel.
        li Quitá el papel sili-conado de a poco y presioná con espátula el diseño.
        li Repasá presionando todo el diseño sin retirar el papel transfer.
        li Retirá el transfer de arriba a abajo, suavemente. Quedará a la vista el diseño en vinilo.
        li Queda sólo disfrutar de tu vinilo!!!

      p Una vez colocado no se puede retirar para una nueva ubicación.

      p.smaller
        | EL MISMO VINILO, SIRVE PARA SUPERFICIES COMO VIDRIO LO ÚNICO QUE CAMBIA ES QUE EN
        | VIDRIO LO PODÉS MOJAR PARA PODER PEGAR Y DESPEGAR HASTA QUE LO HAGAS BIEN!

